@media (max-width: 679px) {
    body .lose .text {
        font-size: 70px;
    }
}

.lose .text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

#play-again {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 200px;
    font-size: 30px;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    text-align: center;
    background-color: greenyellow;
}

#play-again:hover {
    background-color: rgb(128, 189, 37);
    transition: 0.5s;
}

#play-again:active {
    background-color: rgba(172, 255, 47, 0.326);
}
