@media (max-width: 679px) {
    /* update styles for smaller screens */
    h1{
        font-size: 40px;
    }
    main .title .mine-img {
        width: 30px;
        height: 30px;
    }
    p {
        font-size: 30px;
        padding-top: 20px;
    }
    main .limit {
        font-size: 15px;
    }
    main .limit .text-line {
        width: 400px;
        font-size: 15px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        justify-content: center;
    }
    main .limit .text-line h2 #a {
        font-size: 15px;
    }
    main .limit .text-line h2 #b {
        font-size: 15px;
    }
    main .mine-bar {
        width: 300px;
        height: 25px;
    }
    main .enter-number .controler #guess {
        font-size: 15px;
        width: 150px;
    }
    main .enter-number .controler #enter-btn {
        font-size: 15px;
        margin-top: 10px;
    }
    main .enter-number .controler #reset-btn {
        font-size: 15px;
    }
}  

@media (min-width: 680px) { 
    /* update styles for medium screens */
    h1{
        font-size: 50px;
    }
    main .title .mine-img {
        width: 33.75px;
        height: 33.75px;
    }
    main .title p {
        font-size: 40px;
        padding-top: 20px;
    }
    main .limit {
        font-size: 20px;
    }
    main .limit .text-line {
        width: 450px;
        font-size: 20px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        justify-content: center;
    }
    main .limit .text-line h2 #a {
        font-size: 20px;
    }
    main .limit .text-line h2 #b {
        font-size: 20px;
    }
    main .mine-bar {
        width: 450px;
        height: 30px;
    }
    main .enter-number .controler #guess {
        font-size: 20px;
        width: 200px;
    }
    main .enter-number .controler #enter-btn {
        font-size: 20px;
        margin-top: 10px;
    }
    main .enter-number .controler #reset-btn {
        font-size: 20px;
    }
}

@media (min-width: 768px) { 
    /* update styles for medium screens */
    h1{
        font-size: 60px;
    }
    main .title h1 .mine-img {
        width: 45px;
        height: 45px;
    }
    main .title p {
        font-size: 40px;
        padding-top: 20px;
    }
    main .limit {
        font-size: 20px;
    }
    main .limit .text-line {
        width: 450px;
        font-size: 20px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        justify-content: center;
    }
    main .limit .text-line h2 #a {
        font-size: 20px;
    }
    main .limit .text-line h2 #b {
        font-size: 20px;
    }
    main .mine-bar {
        width: 450px;
        height: 30px;
    }
    main .enter-number .controler #guess {
        font-size: 20px;
        width: 200px;
    }
    main .enter-number .controler #enter-btn {
        font-size: 20px;
        margin-top: 10px;
    }
    main .enter-number .controler #reset-btn {
        font-size: 20px;
    }
}
@media (min-width: 992px) { 
    /* update styles for larger screens */
    h1 {
        font-size: 80px;
    }
    main .title h1 .mine-img {
        width: 60px;
        height: 60px;
    }
    main .title p {
        font-size: 50px;
        transform: translate(0%, -50%);
    }
    main .limit {
        font-size: 30px;
    }
    main .limit .text-line {
        width: 700px;
        font-size: 30px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        justify-content: center;
    }
    main .limit .text-line h2 #a {
        font-size: 30px;
    }
    main .limit .text-line h2 #b {
        font-size: 30px;
    }
    main .mine-bar {
        left: 50%;
        transform: translate(-50%, 50%);
        width: 495px;
        height: 30px;
    }
    main .enter-number .controler #guess {
        font-size: 20px;
        width: 200px;
    }
    main .enter-number .controler #enter-btn {
        font-size: 20px;
    }
    main .enter-number .controler #reset-btn {
        font-size: 20px;
    }
}

@media (max-height: 566px) {
    main .title h1 {
        top: 5%;
    }
    main .mine-bar {
        left: 50%;
        transform: translate(-50%, 70%);
        width: 495px;
        height: 30px;
    }
}

main {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100% ;
}

.mine-img {
    width: 60px;
    height: 60px;
}

.title {
    position: absolute;
    width: 99%;
    font-size: 40px;
    text-align: center;
    top: 12%;
    /* background-color: blue; */
}
.enter-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,70%);
    width: 60%;
    text-align: center;
    padding: 30px;
}


.controler #guess, #enter-btn, #reset-btn {
    font-size: 20px;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;    
    border: black solid 2px;
}

#enter-btn {
    color: black;
    background-color: greenyellow;
}

#enter-btn:hover {
    background-color: rgb(128, 189, 37);
    transition: 0.5s;
}

#enter-btn:active {
    background-color: rgba(172, 255, 47, 0.326);
}

#reset-btn {
    color: black;
    background-color: rgb(246, 184, 98);
}

#reset-btn:hover {
    background-color: rgb(189, 138, 67);
    transition: 0.5s;
}

#reset-btn:active {
    background-color: rgba(246, 184, 98, 0.371);
}

.limit {
    position: absolute;
    top: 70%;
    transform: translate(0%, -50%);
    width: 99%;
    height: 100px;
    font-size: 30px;
    padding-bottom: 30px;
}

.limit .text-line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
    display: flex;
}

#a, #b {
    margin-top: 5px;
    text-align: center;
    align-self: center;
    width: 60px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
}

#b {
    margin-left: 8px;
}

.mine-bar {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 495px;
    height: 30px;
    border: black solid 2px;
    background-position: center;
    background: transparent;
}

.mine-bar #health-bar {
    position: absolute;
    height: 100%;
    background-color: greenyellow;
    transition: 0.5s;
    transition-delay: 0.3s;
}
